<div class='page-header'>
  <h1>Planning Board<h1>
</div>

<div id='planning-board'>
  <div class='task-state-well'>
    <h1>Inbox</h1>
    <ul id='inbox'>
      <li class='task'>One</li>
      <li data-id='2' class="task">2</li>
      <li class="task">3</li>
    </ul>
  </div>
  <div class='task-state-well'>
    <h1>Working</h1>
    <ul id='working'>
    </ul>
  </div>
  <div class='task-state-well'>
    <h1>Completed</h1>
    <ul id="completed">
    </ul>
  </div>
</div>


