<div class='page-header'>
  <h1>Planning Board<h1>
</div>


<div class='search-bar'>
  <%= form_tag tasks_path, :method => :get do %>
    <div class='search-field'><%= text_field_tag :search, params[:search] %></div>
    <div class='search-button'><%= submit_tag 'Search', :name => nil %></div>
  <% end %>
</div>

<ul id="inbox" class='task-state-well'>
    <li>One</li>
    <li data-id='2' class="number">2</li>
    <li class="number">3</li>
</ul>
<ul id="working" class='task-state-well'>
</ul>
<ul id="completed" class='task-state-well'>
</ul>


