<% $LOAD_PATH << "controllers" %>


<div class='calendar_wrapper'>

  <%= month_calendar events: @appointments do |date, appointments| %>
    <%= date.day %>

    <% appointments.each do |appointment| %>
      <div>
        <%= link_to "#{appointment.name}", appointment_path(appointment) %>
      </div>
    <% end %>
  <% end %>

</div>

