<div class='outer-container'>
  <%= simple_form_for @tag do |f| %>
    <p id='form_header'>Add New Tag</p>
    <%= f.input :name, placeholder: "Name" %>
    <%= f.button :submit %>
  <% end %>
</div>
