hello!
  <script>
    function getFb() {
      alert('fuck yeah');
    };
  </script>

  <button onclick="getFb()">Get It</button>

<div id="FB-Share" type="button" onclick="window.open('http://localhost:3000/facebook/1', 'targetWindow','toolbar=no,location=0,status=no,menubar=no,scrollbars=yes,resizable=yes,width=600,height=250'); return false;">Get FB Modal</button>

<div id="FB-Share" type="button" onclick="window.open('https://www.facebook.com/sharer/sharer.php?u=http://www.nytimes.com', 'targetWindow','toolbar=no,location=0,status=no,menubar=no,scrollbars=yes,resizable=yes,width=600,height=250'); return false;">Share with Facebook</button>
