hello!
<button id="FB-Share" type="button" onclick="window.open('http://localhost:3000/facebook/1', 'targetWindow','toolbar=no,location=0,status=no,menubar=no,scrollbars=yes,resizable=yes,width=600,height=250'); return false;">Share on Facebook!</button>
