<div class='tag-indicator'>
  <%= link_to contact_path(contact), data: { turbolinks: false } do %>
    <%= gravatar_for contact %>
  <% end %>
  <div class='identifier'>
    <%= contact.full_name %>
  </div>
</div>
