
.main-footer {
  @include outer-container;
  padding-top: 100px;
  .footer-wrapper {
    @include span-columns(12);
  }
}

.content-wrapper {
  padding: 0 150px;
}

.notice-wrapper {
  @include outer-container;
  padding: 25px;
  text-align:center;
  p.notice {
    background-color:#e5edf8;
    border-radius:5%;
  }
  p.alert {
    background-color: #fff6bf;
  }
}



//
// Authentication pages
//

#logo_header {
  text-align:center;
  font-size:3em;
}

//
// Form styling
//

.outer-container {
  @include outer-container;
  #sign_in_header {
    @include shift(3);
    font-size:1.5em;
  }
  #new_user {
    @include span-columns(6);
    @include shift(3);
  }
  #form_header {
    @include shift(3);
    font-size:1.5em;
  }
  .form_buttons {
    @include span-columns(12);
  }
  .edit_task {
    @include span-columns(6);
    @include shift(3);
  }
  .edit_appointment {
    @include span-columns(6);
    @include shift(3);
  }
}

//
// Index page
//
//

.main-wrapper {
  padding: 35px;
  #title_header {
    font-size:1.5em;
  }
  @include outer-container;
  $mobile: new-breakpoint(max-width 500px 4);
  .secondary-content {
    @include span-columns(5);
    @include media($mobile) {
      @include span-columns(5);
    }
  }
  .main-content {
    @include span-columns(7);

    @include media($mobile) {
      @include span-columns(3);
    }
  }
}

//
// Contacts pages
//

.outer-container {
  @include outer-container;
  #form_header {
    @include shift(1);
    font-size:1.5em;
  }
  #new_contact { @include span-columns(6);
    @include shift(3);
  }
}

.outer-container {
  @include outer-container;
  #form_header {
    @include shift(1);
    font-size:1.5em;
  }
  .edit_contact { @include span-columns(6);
    @include shift(3);
  }
}

//
// Contact show page
//

.note_container {
  @include outer-container;
  .note_subject {
    @include span-columns(6);
  }
  .note_content {
    @include span-columns(6);
  }
}

.task_list_wrapper {
  @include outer-container;
  .task_list_header {
    font-size:1.5em;
  }
  .task_name {
    @include span-columns(12);
  }
  .task_buttons {
    @include span-columns(12);
  }
}

.contact-info-wrapper {
  padding-top: 25px;
  padding-bottom: 25px;
  .tab-content {
    background-color:#f7f7f7;
  }
}
//
// Calendar
//

.calendar_wrapper {
  .modal-trigger {
    font-weight:0px;
    background-color: transparent;
    color: black;
    border-radius: 0px;
    border: 0;
    padding: 0px;
    text-decoration: underline;
  }
}

//
// Project page
//

.project-wrapper {
  @include outer-container;
  .project-left-column {
    @include span-columns(7);
  }
  #title_header {
    font-size:1.5em;
  }
  .project-right-column {
    @include span-columns(5);
    .button-wrapper ul li {
      display: inline-block;
      padding: 10px;
    }
  }
}

  a.tab-link.is-active {
 background-color:#f7f7f7;
  }

.project-stage-tab-wrapper {
  .tab-content {
    background-color:#f7f7f7;
  }
}

.stage-wrapper {
  @include outer-container;
  .stage-table-wrapper {
    @include fill-parent();
    @include row(table);
    .stage-left-column {
      @include span-columns(4);
      @include pad();
    }
    .stage-right-column {
      @include span-columns(8);
      @include reset-display;
      @include pad();
    }
  }
}

//
// Appointment page
//

.appointment-show-wrapper {
  @include outer-container;
  .appointment-left-map {
    @include span-columns(6);
  }
  .appointment-right-info {
    @include span-columns(6);
    .appointment-header {
      font-size:1.5em;
    }
  }
}

.appointment-header {
      font-size:1.5em;
}


//
// Calendar styling
//

.calendar-header {
  font-size:1.5em;
  text-align:center;
}

.page-header {
  font-size:1.5em;
}


