@import "normalize";
@import "bourbon/bourbon";
@import "base/grid-settings";
@import "base/base";
@import "neat/neat";

@import "refills/navigation";
@import 'refills/flashes';
@import 'refills/accordion-tabs';
@import 'refills/accordion-tabs-minimal';
@import 'refills/tables-minimal';
@import 'refills/modal';
@import 'refills/vertical-tabs';
@import 'refills/device';
@import 'refills/tables';
@import 'refills/cards';


@import 'partials/responsive';

// custom styles
@import 'signin';
@import 'modals';
@import 'forms';
@import 'contacts';
@import 'tasks';

.page-header {
  font-size:1.5em;
}

.index-gravatar {
  text-align:center;
}

.index-actions {
  text-align:center;
}

.gravatar {
  border-radius:50%;
}

.content-wrapper {
  padding: 0 25px;
}

.notice-wrapper {
  padding: 15px;
  text-align:center;
  p.notice {
    background-color:#e5edf8;
    border-radius:5%;
  }
  p.alert {
    background-color: #fff6bf;
  }
}

.page-header {
  font-size:1.5em;
}

.index-gravatar {
  text-align:center;
}

.index-actions {
  text-align:center;
}

.gravatar {
  border-radius:50%;
}
