.header-wrapper {
  display: flex;
  justify-content: space-between;
  box-shadow: 0 10px 7px -5px lightgrey;
  margin-bottom: 1em;
  padding-bottom: 1em;

  .gravatar { height: 80px; }

  .name-actions {
    text-align: center;
    .modal > label {
      font-size: x-large;
    }
  }

  .modals-search { text-align:right }
  .search-field { width: 100% }
  .search-button { display: none; }
}

.note_container {
  font-size: .9em;
  @include outer-container;
  .note_subject {
    @include span-columns(2);
  }
  .note_content {
    @include span-columns(10);
  }
}
