.header-wrapper {
  display: flex;
  justify-content: space-between;
  box-shadow: 0 10px 7px -5px lightgrey;
  margin-bottom: 1em;
  height: 65px;

  .gravatar { height: 55px; }

  .name-actions {
    text-align: center;
    .modal > label {
      font-size: x-large;
    }
  }
}

.note-header {
  .note-info {
    display: flex;
    justify-content: space-between;
    .note-title, .note-date {
      font-weight: bold;
    }

  }
  .note-actions {
    display: flex;
    .divider {
      padding: 0 10px;
    }
  }
}
