//
// Form styling
//

textarea { height: 20em; }

.outer-container {
  @include outer-container;
  #sign_in_header {
    @include shift(3);
    font-size:1.5em;
  }
  #new_user {
    @include span-columns(6);
    @include shift(3);
  }
  #form_header {
    @include shift(3);
    font-size:1.5em;
  }
  .form_buttons {
    @include span-columns(12);
  }
  .edit_task {
    @include span-columns(6);
    @include shift(3);
  }
  .edit_appointment {
    @include span-columns(6);
    @include shift(3);
  }
}


