.page-header {
  font-size:1.5em;
}

.index-gravatar {
  text-align:center;
}

.index-actions {
  text-align:center;
}

.gravatar {
  border-radius:50%;
}

.search-bar {
  @include outer-container;
  form {
    .search-field {
      @include span-columns(5);
      .search-button {
        @include span-columns(3);
      }
      .add-new {
        @include span-columns(3);
      }
    }
  }
}

