.color-box {
  height: 30px;
  width: 30px;
}

.tag-index-header {
  display: flex;
  align-items: baseline;
  margin-bottom: 20px;

  .modal {
    border: 1px solid lightgrey;
    padding: 1px 5px;
    margin-left: 20px;
  }
}
