#tasks-header {
  display: flex;
  justify-content: space-between;
  padding-bottom: 10px;
}

#planning-board {
  display: flex;
  justify-content: space-between;

  .task-state-well
  {
    flex-grow: 1;
    padding: 0 10px;
    max-width: 30%;

      ul {
        height: 100vh;
      }
  }

  .task
  {
      background: #fff;
      border: solid 1px #ccc;
      padding: 10px;
      .card-title {
        text-align: left;
        color: white;
        background: blue;
        padding: 5px;
      }
      .card-description {
        padding: 5px;
      }
  }
}
