#planning-board {
  display: flex;
  justify-content: space-between;

  .task-state-well
  {
    flex-grow: 1;
    padding: 0 10px;
    max-width: 30%;
    ::-webkit-scrollbar {
      display: none;
    }


    .well-header {
      display: flex;
      justify-content: space-between;

      .well-menu {
        width: 35px;
        text-align: center;

        &:before {
          content: '. . .';
          width: 40px;
          position: absolute;
          right: 30px;
          font-weight: bold;
        }
        &:hover {
          cursor: pointer;
          .menu-items {
            display: block;
            position: absolute;
            right: 30px;
            top: 150px;
            border: 1px lightgrey solid;
            box-shadow: 1px 4px 10px -6px;
            background: white;
            .menu-header { padding: 0 10px; color: lightgrey; border-bottom: solid; }
            .menu-item:hover { background: #f0f0f7; cursor: pointer; }
          }
        }
        .menu-items {
          display: none;
        }
      }
    }

      ul {
        height: 80vh;
        overflow-y: scroll;

        .task-placeholder {
          background: lightgrey;
          border: solid 1px black;
          height: 7em;
          margin: 10px 0;
          box-shadow: 1px 4px 10px -6px;
        }
        .ui-sortable-helper {
          transform: rotate(5deg);
        }
      }
  }

  .task {
      background: #fff;
      border: solid 1px #ccc;
      border-radius: 3px;
      padding: 10px;
      margin-top: 10px;
      box-shadow: 1px 4px 10px -6px;
      &:hover { cursor: pointer; background: #f0f0f7;}
      .card-title {
        text-align: left;
        padding: 5px;
        font-weight: bold;
        color: dimgrey;
        display: flex;
        justify-content: space-between;
      }
      .card-description {
        padding: 5px;
        text-overflow: ellipsis;
        overflow: hidden;
        max-height: 50px;
        margin-bottom: 10px;
      }
   }
}
