#tasks-header {
  display: flex;
  padding-bottom: 10px;
  align-items: baseline;
  h1 { width: 130px }
  .modal {
    border: solid 1px grey;
    padding: 5px;
  }
}

#planning-board {
  display: flex;
  justify-content: space-between;

  .task-state-well
  {
    flex-grow: 1;
    padding: 0 10px;
    max-width: 30%;

      ul {
        height: 100vh;
      }
  }

  .task
  {
      background: #fff;
      border: solid 1px #ccc;
      padding: 10px;
      margin-top: 5px;
      &:hover { cursor: pointer; }
      .card-title {
        text-align: left;
        padding: 5px;
        font-weight: bold;
        color: dimgrey;
      }
      .card-description {
        padding: 5px;
      }
  }
}
