<footer class="footer" role="contentinfo">
  <div class="footer-logo">
    <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_1.png" alt="Logo image">
  </div>
  <div class="footer-links">
    <ul>
      <li><h3>Content</h3></li>
        <li class="nav-link"><%= link_to "Contacts", root_path %></li>
        <li class="nav-link"><%= link_to 'Projects', projects_path(current_user) %></li>
        <li class="nav-link"><%= link_to 'Tasks', tasks_path(current_user) %></li>
    </ul>
    <ul>
      <li><h3>Social Media</h3></li>
      <li><a href="https://github.com/bdfinlayson/brinsk_cms">Github</a></li>
      <li><a href="https://twitter.com/BryanFinlayson">Twitter</a></li>
      <li><a href="https://www.linkedin.com/in/bryandfinlayson">Linkedin</a></li>
      <li><a href="https://www.facebook.com/profile.php?id=100007433625193">Facebook</a></li>
      <li><a href="http://bryanfinlayson.com">Personal Website</a></li>
    </ul>
    <ul>
      <li><h3>Legal</h3></li>
      <li><a href="javascript:void(0)">Terms and Conditions</a></li>
      <li><a href="javascript:void(0)">Privacy Policy</a></li>
    </ul>
  </div>

  <hr>

  <p>Bryan Finlayson is an apprentice software developer at the Nashville Software School. Brinsk CMS was his June 2015 capstone project.</p>
</footer>
